.container {
    height: 100vh !important;
}

.users {
  height: calc(100vh - 7em) !important;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  background-color:#eee !important;
  margin-top: 0.5em !important;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  border-radius: 0.3em;
}

.users::-webkit-scrollbar { width: 0; }
