.user {
  padding: 0.5em !important;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.avatar{
  width: 5em;
}

.content {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.data {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

email,
.name {
  padding-left: 1em;
  padding-right: 1em;
  width: 20em;
}

.actions {
  display: none;
}

.user:hover .actions {
  display: block;
}

.action {
  margin-left: 1em !important;
}
