.card{
  width:100% !important;
  height: calc(100vh - 11.2em) !important;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  background-color:#eee !important;
  margin-top: 3.5em !important;
}

.card::-webkit-scrollbar { width: 0; }
