.headerWrp {
  height: 4em;
  border: 1px grey solid;
  opacity: 1;
  width: 100%;
  background-color:#eee;
  color: #ebf6f7 !important;
  font-weight: 400 !important;
  z-index: 10;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  display: flex;
  align-items: center;
  justify-content:space-between;
  border-radius: 0.3em;
  padding: 0;
}

.profile {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  height: 3em;
}

.logoutBtn,
.logoutBtn:hover {
  &:global(.ui.icon.button) {
    border: none;
    box-shadow: none;
    background-color:#eee !important;
  }
}

:global(.ui.basic.label).toolbarBtn {
  border: none;
  color: #777;
  background-color:#eee !important;

  &:hover {
    color: #333;
    background-color:#eee !important;
  }
}

